	body { 
		padding: 20px;
		font-family: "Helvetica" !important;
		font-size: 14px;
		}
		a { color: blue; text-decoration: none; }
		
			a:hover { color: red; }
			a:visited {color: blue;}
		#header{
			position:fixed;
			margin-bottom:160px;
			top:20px;
			left:20px;
		}
		.titles{
opacity:0;
		}
		table { width: 450px; }
		#upload {
			border: 1px solid #DDD;
			padding: 10px 20px;
			width: 300px;
			position: absolute;
			top: 40px;
			left: 500px;
			}